@model Student_Management_System_MVC__EF.Models.Student

<h2>@Model.Name</h2>

<table border="1">

	<tr>
		<th>Subject</th>
		<th>Marks</th>
	</tr>

	@foreach (var m in Model.marks)
	{
		<tr>
			<td>@m.Subject</td>
			<td>@m.Score</td>
		</tr>
	}

</table>